<div class="main-chat__message">
  <div class="main-chat__task">
    <%= archive.content %>
  </div><!-- /.main-chat__task -->
  <div class="main-chat__time">
    <%= l archive.created_at %>
  </div><!-- /.main-chat__time -->
</div><!-- /.main-chat__message -->