<div class="side-bar">
  <div class="side-bar__top">
    <div class="side-bar__name">
      トム・サイズモア
    </div><!-- /.side-bar__name -->
    <a href="#" class="side-bar__btn">
      ログアウト
    </a><!-- /.side-bar__btn -->
  </div><!-- /.side-bar__top -->
  <div class="side-bar__bottom">
    <div class="side-bar__column">
      Archive
    </div><!-- /.side-bar__column -->
    <div class="side-bar__column">
      Task
    </div><!-- /.side-bar__column -->
  </div><!-- /.side-bar__bottom -->
</div><!-- /.side-bar -->