<div class="side-bar">
  <div class="side-bar__top">
    <%= link_to current_user.name, edit_user_path(current_user), class: 'side-bar__name'%>
    <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: 'side-bar__btn'%>
  </div><!-- /.side-bar__top -->
  <div class="side-bar__bottom">
    <div class="side-bar__column">
      Archive
    </div><!-- /.side-bar__column -->
    <div class="side-bar__column">
      Task
    </div><!-- /.side-bar__column -->
  </div><!-- /.side-bar__bottom -->
</div><!-- /.side-bar -->